<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.igorbelchior.Gastos-</string>
	<key>CFBundleName</key>
	<string>Gastos+</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.196640864178-4jh71hr9iq0ualihi8f4sogv5cj00k1d</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
<string>196640864178-4jh71hr9iq0ualihi8f4sogv5cj00k1d.apps.googleusercontent.com</string>
<key>NSFaceIDUsageDescription</key>
<string>Usamos o FaceID para garantir a segurança do seu login.</string>
<key>NSPhotoLibraryUsageDescription</key>
<string>Precisamos acessar sua galeria de fotos para que você possa selecionar uma imagem de perfil.</string>

</dict>
</plist>
